@font-face {
    font-family: 'Outfit'; /*a name to be used later*/
    src: url('https://fonts.google.com/specimen/Outfit'); /*URL to font*/
}

body{
    background-color: hsl(217, 54%, 11%);
    color: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}
a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);;
}
a:hover{
    color: hsl(178, 100%, 50%);
}
#card{
    width: 300px;
    height: auto;
    margin: 8% auto;
    padding: 20px;
    background-color: hsl(216, 50%, 16%);
    border: 20px solid hsl(217, 56%, 10%);
    border-bottom: 40px solid hsl(217, 56%, 10%);
    border-top: 40px solid hsl(217, 56%, 10%);
    border-radius: 15px;
}

img{
    width: 100%;
    border: 1px;
    border-radius: 10px;
}


.content{
    font-weight: 500;
    font-size: 16px;
    color: hsl(215, 51%, 70%);
}

.eth{
    float: left;
    background: url(../images/icon-ethereum.svg) no-repeat left center;
    padding-left: 20px;
    color: hsl(178, 100%, 50%);

}

.side{
    float: right;
    background: url(../images/icon-clock.svg) no-repeat left center;
    padding-left: 20px;
    padding-right: 0px;
    line-height: 68px;
}
hr{
    color: hsl(215, 32%, 27%);
    clear: both;
}

.side-content{
    padding-left: 55px;
    padding-top: 10px;
}

.creator{
    float: left;
    width: 35px;
    border: 1px solid;
    border-radius: 50px;
}